/Operator/nbproject/private/
/Operator/build/
/Jobsheet6/nbproject/private/
/Pertemuan1/nbproject/private/
/Pertemuan1/build/
/TUGAS PRAKTIKUM/nbproject/private/
/TUGAS PRAKTIKUM/build/
/KasusKondisi/nbproject/private/
/KasusKondisi/build/
/Challenge/nbproject/private/
/PercobaanError/nbproject/private/
/PercobaanError/build/
/Challenge/build/
/TugasPraktikum/nbproject/private/
/Array/nbproject/private/
/Arrayy/nbproject/private/
/PRAKTIKUM/nbproject/private/
/PRAKTIKUM/build/